
#PopularPosts1 ul {
    background-color: transparent !important;
    text-align:center !important;
    display: flex;
    flex-wrap: wrap;
}

#PopularPosts1 li {
    background-color: #FFFFFF !important;
	padding: 0 !important;
    height: 170px !important;
    width: 150px !important;
    margin: 0 auto 15px auto !important;
}

/*
#PopularPosts1 li:first-child {
     background-color: #FFFFFF !important;
     padding: 0 !important;
     height: 320px !important;
     width: 320px !important;
     margin: 0 auto 15px auto !important;
}
*/

#PopularPosts1 img {
    padding: 0px !important;
    clear:both !important;
}

#PopularPosts1 .item-thumbnail {
    margin: 0px !important;
}

#PopularPosts1 .item-title {
        padding: 0 10px !important;
        font: 16px Oswald !important;
        line-height:1.2em !important;
        float:left !important;
        width:150px !important;
     	position: relative;
        bottom: -28px;
        transform: translateY(-50%);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
}

/*
#PopularPosts1 li:first-child .item-title {
	font: 22px Oswald !important;
	width:320px !important;
    bottom: -40px;
	padding: 0 30px !important;
}

#PopularPosts1 li a {
     text-decoration: none !important;
}
*/
