#boxbio, .boxbio {
	width:100%;
	border: 0px solid #B71C1C;
	clear:both;
	background:#333134;
}

.fotobio {
	max-height:150px;
	position:relative;
	/*
	-webkit-clip-path: inset(3px 3px 3px 3px);
  	clip-path: inset(3px 3px 3px 3px);
	*/
	margin:-10px 15px 0 10px !important;
	float:left;
}

.textobio {
	font-size:1em;
	padding:15px !important;
	color:#ffffff;
}

.textobizu {
	font-size:5em;
	font-weight:bold;
	padding:10px auto !important;
	background: #B71C1C;
	color:#ffffff;
	width:100% !important;
	clear:both;
}

/* --------------------------------------------------------TEMPLATE ANTIGO */
/* CAIXA DE TEXTO CINZA */
.boxcinza {
	font-size:80%;
	background:#E0E0E0;
	padding: 5px 10px;
}
	
/* TEXTO CINZA DIFERENCIADO */	
.txtcinza {
	color:#666666;
	text-decoration:none
	}
	
/* TEXTO CINZA PEQUENO */	
.txtcinzapeq {
	color:#cccccc;
	text-decoration:none;
	font-size:80%;
	}
	
/* TEXTOS DE CRÉDITOS DE FOTOS */
.fotos {
	width:100%;
	font-size:10px;
	text-align:right;
	color:#cccccc;
	padding-right:10px;
	margin: -5px 0 5px 0;
	}
	
/* TEXTO COM BORDA INFERIOR CINZA */
.brdcinza {
	border-bottom:1px solid #cccccc;
	}
	
/* TITULOS COM BORDA INFERIOR CINZA */
.titulo {
	color: #546E7A; 
	font-size:24px !important;
	font-weight:bold;
	line-height: 24px !important;
	border-bottom: 1px solid #cccccc;
	vertical-align:middle;
	}
	
/* TEXTOS COM FONTE PEQUENA ABAIXO DO TÍTULO */
.texto {
	font-size:80%;
	margin-top:10px;
	line-height: 80%;
	}
	
/* BIOGRAFIAS E EXPLICAÇÕES */
.bio2 {
	font-size: 80%; 
	margin-top: 20px;
	}
	
/* CAIXA DE TEXTO CINZA NO RODAPÉ */
.boxrodape {
	border-bottom: 1px solid #cccccc;
	background:#fafafa;
	height:20px;
	font-weight:bold;
	font-size:12px;
	padding-top:4px;
	text-align:center;
	vertical-align:bottom;
	}

/* TABELA DE TÍTULOS ACIMA DAS IMAGENS */
.tabtitulo {
	font-size: 34px; 
	font-weight: bold; 
	vertical-align: middle;
	border-top: 1px solid #cccccc; 
	border-bottom: 1px solid #cccccc;
	}
.tdnumero {
	border-right: 1px solid #cccccc; 
	color: #cccccc; 
	text-align: center; 
	width: 50px;
	}
.tdtitulo {
	padding-left: 20px;
	}
.tdtitulosimples {
	padding-right: 20px;
	border-right: 1px solid #cccccc;
	}
.tdtexto {
	font-size: 14px;
	padding-left: 20px;
	vertical-align: middle;
	}
	
/* TABELA DE 3 COLUNAS SIMPLES */	
.tab3col {
	width: 100%;
	background:#fafafa;
	text-align: center;
	}

.td3col {
	padding: 10px 0 30px 0; 
	width: 33%;
	}

.tdmeio {
	padding: 10px 0 30px 0; 
	width: 34%;
	}
	
/* CAIXA DO ADSENSE */
.ads {
	width:100%;
	background:transparent;
	text-align:center !important;
	}

/* CONFIGURAÇÃO DO LINKWITHIN */	
.linkwithin_inner  {
   	margin: 0px auto !important;
   	border-top: 1px solid #cccccc !important;
	}

/* BACKGROUND DO YOUTUBE */
.yt {
	background:url(https://www.dropbox.com/s/7nhirkn92sbuhrk/YT-DUPLO.png?dl=1) left top no-repeat;
	width: 90px;
	border-style:none;
    height: 16px;
    }
.yt:hover {
	background:url(https://www.dropbox.com/s/7nhirkn92sbuhrk/YT-DUPLO.png?dl=1) left -16px no-repeat
	}
	
/* BACKGROUND FONE DE OUVIDO */
.ph {
	background:url(https://www.dropbox.com/s/x5xw29hjbrzr9zf/Earphones.jpg?dl=1) left top no-repeat;
	width: 57px;
	heigth: 16px;
	border-style:none;
    }
    
.ph:hover {
	background:url(https://www.dropbox.com/s/x5xw29hjbrzr9zf/Earphones.jpg?dl=1) left -16px no-repeat;
    }

/*QUADRO VEJA TAMBÉM */	
.vt {
  	font-size:12px;
  	color:#000000;
  	padding:0px 8px 0 10px;  
  	margin:0px 0 -10px 10px;
  	position:relative;
  	background:#ffffff;
  	width:85px;
	}
.qvt {
  	border:1px solid #cccccc;
  	padding:10px 10px 10px 53px;
  	font-size:15px;
}

/* SEPARADOR VERTICAL */
.sep {
	clear: both;
	margin-bottom:30px;
}

.img-magnifier-container {
  position:relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}
