.boxbio {
	width:100%;
	border: 0px solid #B71C1C;
	background:#F5F5F5;
	padding: 0 20px;
}

.fotobio {
  	position:relative;
	top:-10px;
	left:-10px;
	margin-right:15px;
	width:15%;
	height:auto;
	max-width:15%;
	align: top;
	float: left !important;
	/*
	margin:-10px 15px 0 10px !important;
	-webkit-clip-path: inset(3px 3px 3px 3px);
  	clip-path: inset(3px 3px 3px 3px);
	*/
}

.textobio, .bio {
	font-size:1em;
	padding:0px !important;
	color:#000;
}

.bio:before {
	border-bottom:2px solid #B71C1C;
	font-weight:bold;
	width:100%;
	display:block;
}

#ana .fotobio {content: url(https://bit.ly/3oKPAFb);}
#ana .bio:before {content: "Ana Adelaide P. Tavares";}
#ana .bio:after {content: "Doutora em teoria da literatura, professora e escritora.";}

#celio .fotobio {content: url(https://1.bp.blogspot.com/-JUSVLPTW2pM/X77gfzuGvMI/AAAAAAACjNA/8aW0QsucFWo6mD5AJkDi_OuEI0sItF2BQCLcBGAsYHQ/s0/Celio-Furtado.jpg);}
#celio .bio:before {content: "Célio Furtado";}
#celio .bio:after {content: "Artista plástico e cronista.";}

#nunes .fotobio {content: url(https://1.bp.blogspot.com/-fVUVGzaasiQ/X77adh9A35I/AAAAAAACjM0/GGtfioCh1HoE9YCcMgcBlys8N0W4_cjSACLcBGAsYHQ/s0/Jose-Nunes.jpg);}
#nunes .bio:before {content: "José Nunes";}
#nunes .bio:after {content: "Poeta, escritor e membro do Instituto Histórico e Geográfico da Paraíba (IHGP).";}

.compartilhe {
	width:28%;
	float:right;
	border: 0px solid #B71C1C;
	background:#f5f5f5;
	padding:0px;
}

.compartilhe:before {
	content:'COMPARTILHE';
	border-bottom: 1px solid #B71C1C;
	margin: 0 auto;
	text-align:center;
}
