/* CAIXA DE CITAÇÕES */
blockquote {
	font-weight: 100;
	font-size: 2rem;
	max-width: 34%;
	line-height: 1.4;
	margin: 0 0 3px 10px;
	padding: 10px 10px;
	float: right;
	font-family: 'Oswald', cursive;
	background: #FAFAFA;
	color: #B71C1C;
	text-align: center;
}

/* CAIXA DO FANCYBOX */
.fancybox-slide--iframe .fancybox-content {
    width  : 800px;
    height : 600px;
    max-width  : 80%;
    max-height : 80%;
    margin: 0;
}


/* MOLDURA DE COMPARTILHAR
.compartilhe {
border: 1px solid #cccccc;
padding: 1px 5px 1px 5px;
float: right;
font-size: 10px;
color: #757575;
width: auto;
text-align: center;
margin-top: -25px;
}
*/

