/* ESTRUTURA GERAL */
body {
    background: #f0f0f0;
    color: #000000;
    font-family: "Roboto", sans-serif;
    word-wrap: break-word;
    background-color: #333134;
    }

body#layout .slider,
body#layout .header_right,
.status-msg-wrap,
body#layout .socials,
#navbar,.date-header,
.feed-links,
.post-location {
    display: none !important;
    }

body#layout #leftContent {
    width: 50%;
    float: left;
    }

body#layout #sidebar-wrapper {
    float: right;
    width: 50%;
    }

a {
    color: #1565C0;
    }

a:hover {
    color: #888888;
    }

h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    line-height: inherit;
    }

hr {
    width: 50px !important;
    margin: 5px 0 5px 0 !important;
    border-top: 1px solid #B71C1C !important;
    }

/* NAVBAR */
#top_menu {
    margin-top: -18px;
    position: absolute;
    right: 15px;
    top: 50%;
    }

#ad_bottom {
    background:url(http://1.bp.blogspot.com/-g3BqiF8MY4w/UzsV65QAw4I/AAAAAAAAAGQ/naTWQcbn-uE/s1600/pattern.png) repeat-x center center;
    float: left;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    }

.ad_bottom_wrap {
    margin: auto;
    width: 728px;
    }

.containers {
    width: 1000px;
    margin: auto;
    }

.nav-line {
    background-color: #fff;
    }

#mobile-menu {
    display: none;
    position: absolute;
    right: 5px;
    top: 3px;
    }

#masthead .jack-nav .container {
    position: relative;
    }

#masthead .jack-nav {
    opacity: 1;
    min-height: 50px;
    padding-top: 0px;
    -webkit-transition: top 0.3s ease-in-out;
    -moz-transition: top 0.3s ease-in-out;
    -o-transition: top 0.3s ease-in-out;
    -ms-transition: top 0.3s ease-in-out;
    transition: top 0.3s ease-in-out;
    }

#masthead .jack-nav .navbar .nav > li > a {
    line-height: 25px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    }

#masthead .jack-nav.shrunk .navbar .nav > li > a {
	line-height: 25px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	}

#masthead .jack-nav.fixed {
	opacity: 0.95;
	margin-bottom: 0;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	}

.navbar {
	margin-bottom: 0;
	float: left;
	position: relative;
	}

.navbar .nav>li {
    float: left;
    }

.navbar .nav>li>a {
    float: none;
    padding: 15px;
    color: #777777;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    }

.navbar .nav > li > a {
	color: #EFEFEF;
	display: block;
	font-size: 16px;
	font-weight: 500;
	line-height: 25px;
	text-decoration: none;
	}

.navbar .nav>li>a:focus,.navbar .nav>li>a:hover {
    background-color: transparent;
    color: #333333;
    text-decoration: none;
    }

.navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus {
    color: #555555;
    text-decoration: none;
    background-color: #e5e5e5;
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    }

.navbar .brand {
	display: block;
	text-align: center;
	width: 100%;
	color: #555555;
	height: 70px;
	margin: 0 30px 0 0;
	padding: 13px 0 12px;
	}

.navbar .brand-text {
	line-height: 42px;
	}

.navbar-inverse .sinline {
	background: transparent;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	padding: 0 15px;
	filter: none;
	}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	text-shadow: none;
	}

.navbar-inverse .brand:hover, .navbar-inverse .nav > li > a:hover, .navbar-inverse .brand:focus, .navbar-inverse .nav > li > a:focus {
	color: inherit;
	opacity: 0.7;
	}

.navbar-inverse .navbarse .nav > li > a, .navbar-inverse .navbarse .dropdown-menu a {
	color: #EFEFEF;
	}

.nav-line {
	position: absolute;
	height: 2px;
	width: 100px;
	top: 0;
	left: 0;
	}

.navbar .nav > li.active, .navbar .nav > li:hover {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.02);
	color: #fff;
	}

.navbarse .nav > li > a, .navbarse .dropdown-menu a {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	}

.btn.btn-navbar:hover, .btn.btn-navbar:active, .btn.btn-navbar:focus {
	background: none repeat scroll 0 0 #67B295;
	}

.search-bar {
	margin-top: 20px;
	}

/* CONFIGURAÇÃO DE MENUS */
#menu-menu-1 li ul {
display: none;
position: absolute;
padding: 0;
top: 100%;
background: #fff;
margin: 0;
margin-top: 0;
z-index: 999999999;
box-shadow: 0px 0px 10px -1px #999;
}

#menu-menu-1 li:hover ul {
display: block;
}

#menu-menu-1 li ul li a {
color: #333;
}

#menu-menu-1 li ul li{
color: #333;
}

#menu-menu-1 li ul li {
float: none;
padding: 0px;
}

#menu-menu-1 li ul li a, #menu-menu-1 li:hover ul li a, #menu-menu-1 li.over ul li a {
padding: 12px 16px 12px 14px;
display: block;
width: 142px;
text-align: left;
height: auto;
background: #FFFFFF;
font-size: 14px;
font-weight: 400;
border-bottom: 1px solid #EEEEEE;
color: #333;
text-transform: none;
}

/* BOTÃO DE SELEÇÃO DOS AUTORES NO MENU PRINCIPAL */
#labelmenu {
    background: transparent;
}

#Label3.widget.Label {
    height: 45px !important;
}

.select-css {
    float: none;
    opacity: 1;
    margin-left: 0px;
    padding-left:0px;
    padding-top: 18px;
    font:inherit  !important;
    font-weight: 500 !important;
    color: #EFEFEF !important;
    text-decoration: none;
    max-width: 85px !important;
    border: 0px solid #aaa !important;
    background: transparent !important;
    box-sizing: border-box;
    box-shadow: 0 0px 0 0px rgba(0,0,0,.04) !important;
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    cursor: pointer !important;
    text-transform: uppercase;
}

.select-css:hover {
    border-color: transparent !important;
    text-decoration: none !important;
    opacity: 0.7 !important;
}

.select-css::-ms-expand {
    display: none;
}

.select-css:focus {
    border-color: transparent;
    outline: none;
}

.select-css option {
    font-weight:normal;
    color: #000000;
}

/* BOTÃO E CAIXA DE PESQUISA */
#searchbox {
    margin-top:10px;
    float:right;
	display:flex;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

#searchbox input {
    outline: none;
}

#searchbox input[type="text"] {
	/*
    background: url(https://1.bp.blogspot.com/-ThdpEsu5bnI/X-UgZQd_G6I/AAAAAAACm6c/VmGfJStObcQKjk8m4OYv3sr8a_eWySZJwCLcBGAsYHQ/s0/favicon.png) no-repeat 9px 8px #fff;
	*/
	color: #757575;
	content:"\f10d";
  	width: 70%;
	border: 0px;
  	padding: 8px 15px 8px 8px;
}

#button-submit {
  	background: #B71C1C;
  	border: 0px;
  	padding: 9px 0px;
  	width: 15%;
  	cursor: pointer;
  	border-radius: 0px;
  	color: #fff;
}

#button-submit:hover {
    background: #4f5356;
}

#button-submit:active {
    background: #5b5d60;
    outline: none;
}

#button-submit::-moz-focus-inner {
    border: 0;
}

/* TÍTULO, IMAGEM E DESCRIÇÃO */
.top_wrapper {
    margin-bottom: 30px;
}

.titlewrapper {
padding: 30px 0;
}

#header, #header a {
    color: #000;
    padding-top: 20px;
}

#header h1 {
      font-size: 80px;
      font-family: 'Kaushan Script', cursive;
      color: #fff;
      line-height: 90%;
}

.header {
	position: relative;
	z-index: 300;
	text-align: center;
	color:#ffffff;
	}

.header a {
	color:#333333;
	}

.header a:hover {
	color:#999;
	}

.header h1.title,.header p.title {
	margin:0 0 0 0;
	}

.header img {
	padding-top: 40px;
	display:block;
	}

img#Header1_headerimg {
	margin:auto;    
	padding: 20px;
    border: 0px solid #fff;
	box-sizing: content-box !important;
	}

.header-right {
	float:right;
	padding:0;
	overflow:hidden;
	margin:55px 0;
	width:41.8%;
	max-width:468px;
	}

.header-right img {
	display:block;
	}

.header_left {
    float: left;
    width: 400px;
	}

.description {
	color:#fafafa;
	font-size: 16px;
	opacity: 0.7;
	}

/* POSTAGENS DA PÁGINA PRINCIPAL */
.p-right {
	padding-bottom: 20px;
	}

.post_item {
	background: #fff;
	}

.Content p {
	margin-bottom: 8px;
	font-size:14px;
    line-height: 1.428571429;
    color: #212121;
    font-family: "Roboto", sans-serif;
    position: relative;
    padding-bottom: 12px;
    font-weight: 400;
	}

.Content p:before {
    content: '';
    width: 30px;
    height: 1px;
    background-color: #B71C1C;
    position: absolute;
    bottom: 0;
    right: 0;
	}

.label-name a {
	color: #000000; 
	font-weight: bold; 
	display:none
	}

.img_wrapper .p-right {
	padding: 8px 20px;
	}

.footer1 {
	width:25%;
	float:left;
	}

.contentfooter1 {
	text-align: center;
	padding-bottom: 15px;
	}

.post_meta {
    padding: 8px 20px 20px;
	}

.post_meta span.user {
    background: url("https://lh5.googleusercontent.com/-Qluew9h2rng/UcPyAuOTbeI/AAAAAAAAB7c/l4QJSdazCOA/s16/meta_user.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    padding-left: 18px;
	}

.post_meta span.comment {
    background: url("https://lh5.googleusercontent.com/-kfxAAytuHik/UcPyAHbhsxI/AAAAAAAAB7E/h9hMrLZPz3g/s16/meta_comment.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    padding-left: 20px;
	}

/* POSTAGENS */
.post {
    float:left;
    width:47%;
	}

.post-body {
 	letter-spacing:0.02em;
    font-family: 'Roboto', sans-serif !important;
  	font-size: 1.4em;
  	line-height:1.6;
    font-weight: 400 !important;
    color: #212121;
	}

.post_item h1 {
    font-size: 40px;
    margin-bottom: 18px;
          font-family: 'Oswald', sans-serif !important;
    color: #444;
          line-height: normal !important;
        font-weight: bold;
	}

.post_item_title a {
    display: block;
    padding: 18px 18px 0px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    color: #212121;
    font-family: "Roboto", sans-serif;
	}

.post_item_title a:hover {
    color: #B71C1C;
	}

.Content {
	padding: 20px 20px 0px;
	text-align: justify;
	overflow: hidden;
   	text-overflow: ellipsis;
   	display: -webkit-box;
 	-webkit-line-clamp: 5;
   	-webkit-box-orient: vertical;
	}

.post a {
        font-weight: bold;
}

.post a:hover {
        color:#B71C1C;
        font-weight: bold;
}


.post_item a {
        font-weight:bold;
}

.post_item_inner {
    padding: 20px;
    position: relative;
}

.post_item_inner p {
    margin-bottom: 30px;
font-family: 'Pontano Sans', sans-serif;
font-size: 15px;
}

.p-right a {
padding: 8px;
color: #222;
border: 1px solid #222;
}

.post_meta {
    border-bottom: 1px solid #E0E1DC;
        float:right;
     }

.post_meta span {
    color: #757575;
    font-size: 12px;
    line-height: 1;
    margin-right: 0px;
    padding: 5px 0;
    white-space: nowrap;
}

.post_meta span.user {
float:left;
background:url("https://lh5.googleusercontent.com/-Qluew9h2rng/UcPyAuOTbeI/AAAAAAAAB7c/l4QJSdazCOA/s16/meta_user.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    padding-left: 18px;
}

.post_meta span.comment {
background:url("https://lh5.googleusercontent.com/-kfxAAytuHik/UcPyAHbhsxI/AAAAAAAAB7E/h9hMrLZPz3g/s16/meta_comment.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    padding-left: 20px;
}

.post-icons {
float: right;
}

.thumb {
    display: block;
    height: auto !important;
    width: 100% !important;
}

.large_thumb {
    position: relative;
}

.post-footer {
    border: 1px solid #EEEEEE;
        width: auto;
    margin: 30px 0 30px 0;
    padding: 20px;
}

/* LABELS MARCADORES TAGS */
.post_tag a {
	text-transform: uppercase;
    border:#B71C1C 5px solid;
	letter-spacing: 0.04em;
    color: #ffffff !important;
    background-color: #B71C1C;
	font-size:15px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 3px;
	z-index: 1;
}

.post_tag a:hover {
    border:#333134 5px solid;
    color: #ffffff !important;
    background-color: #333134;
    font-size:15px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 3px;
        z-index: 1;
}

.post_tag2 a {
    text-transform: uppercase;
    border:#B71C1C 2px solid;
    letter-spacing: 0.04em;
    color: #ffffff !important;
    background-color: #B71C1C;
    font-size:12px;
    font-weight: bold;
    margin-left: 12px;
    padding: 1px 3px;
    position:absolute !important;
    top:-7px;
     z-index: 1;
}

.post_tag2 a:hover {
    border:#333134 2px solid;
    color: #ffffff !important;
    background-color: #333134;
    font-size:12px;
    font-weight: bold;
    margin-left: 12px;
    padding: 1px 3px;
    position:absolute !important;
    top:-7px;
     z-index: 1;
}  

/* SIDEBAR */
#sidebar-wrapper {
    float: right;
    width: 320px;
}

.sidebar .widget {
    background-color: transparent;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.sidebar h2 {
    font-size: 18px;
      text-transform: uppercase;
    margin: 0 0 5px 0;
    border-bottom: 0px solid #eee;
    font-weight: bold;
    color: #fff;
    text-align: center;
    display: inline-block;
    background-color: #B71C1C;
    padding: 10px;
    position: relative;
    z-index: 1;
    font-family: "Roboto", sans-serif;
        width: 100%;
}

.sidebar ul li {
      border-bottom: 0px solid #EEEEEE;
padding: 15px 20px 20px 45px;
        float:left;
    text-decoration: none;
}

.sidebar ul li:last-child, #PopularPosts1 dd:last-child {
    border: medium none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.sidebar li a {
    color: #666666;
}

/* WIDGETS */
.section, .widget, .widget ul, .widget li, body, h1, h2, h3, h4, h5, ul, li, a, p, span, img, dd {
    border: medium none;
    list-style: none outside none;
    margin: 0px;
    outline: medium none;
    padding: 0;
    text-decoration: none;
}

.widget-content {
        color:#ffffff;
    margin: 0 0 30px 0;
        font-size: 14px;
    padding-bottom: 30px;
    text-decoration: none;
}

/* POSTAGEM EM DESTAQUE */
.FeaturedPost {
        color:#ffffff;
    margin: 0px;
        font-size: 14px;
    padding-bottom: 30px;
    text-decoration: none;
}


/* LISTA DE AUTORES NA BARRA LATERAL */
.Label li {
    float: left !important;
    font: 11px/20px Arial,sans-serif;
    list-style: none outside none !important;
    margin: 2px 5px 2px 0 !important;
    padding: 2px 4px 2px 4px !important;
    background: #FAFAFA !important;
    width: bold !important;
}

.Label li a  {
    color: #000000 !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    padding: 2px 4px 2px 4px !important;
}

.Label li a:hover {
    color: #ffffff !important;
    background: #B71C1C !important;
    padding: 2px 4px 2px 4px !important;
}

/* TOP SEMANAL POSTAGENS POPULARES MAIS VISITADOS */
.widget-content.popular-posts {
margin-top: 5px important;
}

#PopularPosts1 ul {
    background-color: transparent !important;
    text-align:center !important;
    display: flex;
    flex-wrap: wrap;
}

#PopularPosts1 li {
    background-color: #FFFFFF !important;
	padding: 0 !important;
    height: 170px !important;
    width: 150px !important;
    margin: 0 auto 15px auto !important;
}

/*
#PopularPosts1 li:first-child {
     background-color: #FFFFFF !important;
     padding: 0 !important;
     height: 320px !important;
     width: 320px !important;
     margin: 0 auto 15px auto !important;
}
*/

#PopularPosts1 img {
    padding: 0px !important;
    clear:both !important;
}

#PopularPosts1 .item-thumbnail {
    margin: 0px !important;
}

#PopularPosts1 .item-title {
        padding: 0 10px !important;
        font: 16px Oswald !important;
        line-height:1.2em !important;
        float:left !important;
        width:150px !important;
     	position: relative;
        bottom: -28px;
        transform: translateY(-50%);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
}

/*
#PopularPosts1 li:first-child .item-title {
	font: 22px Oswald !important;
	width:320px !important;
    bottom: -40px;
	padding: 0 30px !important;
}

#PopularPosts1 li a {
     text-decoration: none !important;
}
*/

/* COMENTÁRIOS */
#comments {
    margin-bottom: 0px !important;
    overflow: hidden;
    padding-top: 0px !important;
        font-size: 14px !important;
        color: #424242;
}

#commentsHolder {
    margin-left: 0px !important;
    padding: 0px 0px 0px 0px !important;
        background: transparent !important;
}

#comments h4 {
    display: inline;
    line-height: 40px;
    padding: 10px;
}

#comments h4, .comments .comment-header, .comments .comment-thread.inline-thread .comment {
    position: relative;
}

#comments h4, .comments .continue a {
    background: none repeat scroll 0 0 #B71C1C
}

/*
#comments h4, .comments .user a, .comments .continue a {
    font-size: 12px;
}
*/

#comments h4, .comments .continue a {
    color: #FFFFFF;
    font-weight: normal;
}

#comments h4:after {
    border-right: 20px solid rgba(0, 0, 0, 0);
    border-top: 10px solid #B71C1C;
    bottom: -10px;
    content: "";
    height: 0;
    left: 10px;
    line-height: 0;
    position: absolute;
    width: 0;
}

#comments .avatar-image-container img {
    border: 0 none;
}

#comments .user, #comments .user a {
    text-transform: uppercase;
	text-decoration: none;
}

.comments {
      margin-top: 0 !important;
}

.comment-header {
      margin: 0 !important;
}

.comment-thread {
    color: #111111;
}

.comment-thread a {
    color: #777777;
}

.comment-thread ol {
    margin: 0 0 20px;
}

/* TESTE DE DESATIVAÇÃO
.comment-thread .comment-content a, .comments .user a, .comments .comment-thread.inline-thread .user a {
    color: #B71C1C;
}
*/

.comments .avatar-image-container, .comments .avatar-image-container img {
	/*
	background-image:url("https://1.bp.blogspot.com/-DjYPDfFZDZk/X7X1w866YRI/AAAAAAACivw/wJtUjxGsLGUMtuT0gkIivRlYx5Ad81wDwCLcBGAsYHQ/s0/Avatar-Leitura-48-48.png") !important;
*/
    height: 48px;
    max-height: 48px;
    max-width: 48px;
    width: 48px;
}

.comments .comment-block, .comments .comments-content .comment-replies, .comments .comment-replybox-single {
    margin-left: 60px;
}

.comment-block {
    margin-bottom: 60px;
}

.comments .comment-block, .comments .comment-thread.inline-thread .comment {
    background: none repeat scroll 0 0 transparent;
    border: 0px solid #DDDDDD;
    padding: 0px;
}

.comments .comments-content .comment {
    line-height: 1em;
    margin: 15px 0 0;
    padding: 0;
    width: 100%;
}

.comments .comments-content .icon.blog-author {
background-image:url("https://lh3.googleusercontent.com/-s2RfYvCPTEs/UcPAX8GIW3I/AAAAAAAAB44/p9wq9yXuULE/s36/author.png");
    height: 36px;
    margin: 0;
    position: absolute;
    right: -12px;
    top: -12px;
    width: 36px;
}

.comments .comments-content .inline-thread {
    padding: 0 0 0 20px;
}

.comments .comments-content .comment-replies {
    margin-top: 0;
}

.comments .comment-content {
    line-height: 1.4em;
    padding: 5px 0;
}

.comments .comment-thread.inline-thread {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-left: 1px solid #DDDDDD;
}

.comments .comment-thread.inline-thread .comment {
    width: auto;
}

.comments .comment-thread.inline-thread .comment:after {
    border-top: 1px solid #DDDDDD;
    content: "";
    height: 0;
    left: -20px;
    position: absolute;
    top: 10px;
    width: 10px;
}

.comments .comment-thread.inline-thread .comment .comment-block {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    padding: 0;
}

.comments .comment-thread.inline-thread .comment-block {
    margin-left: 48px;
}
.comments .comment-thread.inline-thread .user a {
    font-size: 13px;
}

.comments .comment-thread.inline-thread .avatar-image-container, .comments .comment-thread.inline-thread .avatar-image-container img {
    height: 36px;
    max-height: 36px;
    max-width: 36px;
    width: 36px;
}

.comments .continue {
    border-top: 0 none;
    width: 100%;
}

.comments .continue a {
    padding: 10px 0;
    text-align: center;
}

.comment .continue {
    display: none;
}
#comment-editor {
    width: 103% !important;
}

.comment-form {
    max-width: 100%;
    width: 100%;
}

.comments .comments-content .loadmore, .comments .comments-content {
    margin: 0;
}

/* POSTS RELACIONADOS */
#related-posts ul {
    background: transparent !important;
    display: table !important;
    margin: 0 auto !important;
}

#related-posts li {
    border: 1px solid #333134 !important;
    float: left !important;
    margin: 0px 5px 10px 5px !important;
    width: 150px !important;
    height: 170px !important;
}

.pthumb {
    background-color: #FDFDFD !important;
    border-radius: 0px !important;
    max-height: 102px !important;
    margin: 0 !important;
    overflow: hidden !important;
    width: 100% !important;
}

.pthumb img {
    object-fit: cover !important;
}

#related-posts img:hover {
    opacity: 0.8 !important;
}

#related-posts ul li:nth-child(4n+4) {
    margin-right: 0 !important;
}

.pthumbtext {
       padding: 0 10px !important;
    font: 16px Oswald !important;
    line-height:1.2em !important;
    text-align:center !important;
    color: #FDFDFD !important;
     float:left !important;
    width:150px !important;
    height;68px !important;
    position: relative;
    bottom: -28px;
    transform: translateY(-50%);
}

.pthumbtext a {
       text-decoration: none !important;
       color: #333134 !important;
}

/* RODAPÉ */
#footer {
background:url("https://lh3.googleusercontent.com/-1QB3XFmdlYY/UcPyBWfyb4I/AAAAAAAAB74/ITrfhAVjwNI/s67/pattern.png") repeat-x scroll 0 0 #FFFFFF;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
    padding: 20px 0;
}
#footer a {
    font-weight: bold;
}

/* PAGINADOR */
a#Blog1_blog-pager-newer-link,
a#Blog1_blog-pager-older-link,
a.home-link {
padding: 5px 10px;
margin: 0 2px;
background: #B71C1C;
color: #ffffff;
font-size: 12px;
border-radius: 1px;
transition: all .3s;
text-decoration:none;
}

a#Blog1_blog-pager-newer-link:hover,
a#Blog1_blog-pager-older-link:hover,
a.home-link:hover {
background: #424242;
}

.outer23 {
background: #fff;
-webkit-box-shadow: 0 1px 0 rgba(0,0,0, .1);
-moz-box-shadow: 0 1px 0 rgba(0,0,0, .1);
box-shadow: 0 1px 0 rgba(0,0,0, .1);
height:90px;
}

.side1 {
bottom: 0;
left: 0;
top: 0;
width: 1160px;
margin: 0 auto 50px;
}

#blog-pager, .blog-pager {
display:block;
padding:5px 50px;
}

.showpage a, .pagenumber a, .current {
position: relative;
display: inline-block;
padding: 5px 10px;
margin: 0 2px;
background: #ffffff;
color: #333;
border: 0px solid #f2f2f2;
font-size: 12px;
border-radius: 1px;
transition: all .3s;
}

.showpage a:hover, .pagenumber a:hover, .current {
background: #B71C1C;
color: #ffffff;
text-decoration:none;
}

.totalpages {
display:none;
}

/* RESPONSIVO */
/* NAVBAR */
.slicknav_btn {
position: relative;
display: block;
vertical-align: middle;
float: right;
padding: 0.438em 0.625em 0.438em 0.625em;
line-height: 1.125em;
cursor: pointer;
}

.slicknav_menu  .slicknav_menutxt {
display: block;
line-height: 1.188em;
float: left;
}

.slicknav_menu .slicknav_icon {
float: left;
margin: 0.188em 0 0 0.438em;
}

.slicknav_menu .slicknav_no-text {
margin: 0
}

.slicknav_menu .slicknav_icon-bar {
display: block;
width: 1.125em;
height: 0.125em;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
margin-top: 0.188em
}

.slicknav_nav {
clear: both
}

.slicknav_nav ul, .slicknav_nav li {
 display: block
}

.slicknav_nav .slicknav_arrow {
font-size: 0.8em;
margin: 0 0 0 0.4em;
}

.slicknav_nav .slicknav_item {
cursor: pointer;
}

.slicknav_nav .slicknav_row {
display: block;
}

.slicknav_nav a {
display: block
}

.slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a {
display: inline
}

.slicknav_menu:before,.slicknav_menu:after {
content: " ";
display: table;
}
.slicknav_menu:after {
clear: both
}

/* IE6/7 support */
.slicknav_menu {
*zoom: 1
}

/* CUSTOMIZAÇÃO */
.slicknav_menu {
    font-size:16px;
}

.slicknav_btn {
    margin: 5px 5px 6px;
    text-decoration:none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;  
    background-color: #222222;
}

.slicknav_menu  .slicknav_menutxt {
    color: #FFF;
    font-weight: bold;
    text-shadow: 0 1px 3px #000;
}

.slicknav_menu .slicknav_icon-bar {
      background-color: #f5f5f5;
}

.slicknav_menu {
    background:#4c4c4c;
    padding:5px;
}

.slicknav_nav {
    color:#fff;
    margin:0;
    padding:0;
    font-size:0.875em;
}

.slicknav_nav, .slicknav_nav ul {
    list-style: none;
    overflow:hidden;
}

.slicknav_nav ul {
    padding:0;
    margin:0 0 0 20px;
}

.slicknav_nav .slicknav_row {
    padding:5px 10px;
    margin:2px 5px;
}

.slicknav_nav a {
    padding:5px 10px;
    margin:2px 5px;
    text-decoration:none;
    color:#fff;
}

 .slicknav_nav select.select-css {
    padding:5px 10px;
    margin:2px 5px 2px 0;
    text-decoration:none;
    color:#fff;
}

.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
    padding:0;
    margin:0;
}

.slicknav_nav .slicknav_row:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background:#ccc;
    color:#fff;
}

.slicknav_nav a:hover{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background:#ccc;
    color:#222;
}

.slicknav_nav .slicknav_txtnode {
     margin-left:15px;   
}

.slicknav_menu {
        display:none;
}

/*
@media screen and (max-width: 40em) {
        #masthead {
           display:none;
            }
    
        .slicknav_menu {
            display:block;
            }
}

/*<!-- sinister -->*/
 .content-wrap.content {  
      height: 310px;
}

/* RESPONSIVO TELAS */
@media only screen and (max-width: 1041px) and (min-width: 791px) {
      .side1 {
width:180px;
}
      #sidebar-wrap {
width:140px;
}    
     .container23 {
margin-left:174px;
width:83%;
}
     .row .row {
margin:0px;
}
.row .twelve {
width: 100%;
}
}

@media only screen and (max-width: 790px) and (min-width: 479px) {
     #related-posts {
display:none;
}
.side1 {
width:130px;
}
      #sidebar-wrap {
width:102px;
}
     .row .row {
margin:0px;
}
.row .twelve {
width: 100%;
}
.leftfooter {
width:100%!important;
text-align:center!important;
}
.rightfooter {
width:100%!important;
text-align:center!important;
}
     div.post_item:after {
right:0.2rem;
}
     div.post_item:before {
right:1rem;
}
      .side1 {
width:165px;
}
      #sidebar-wrap {
width:128px;
}    
     .row .row {
margin:0px;
}
     div.post_item:after {
right:0.5rem;
}
     div.post_item:before {
right:1.3rem;}
}

@media only screen and (max-width: 767px) and (min-width: 500px) {
.side1 {
width:150px;
}
      #sidebar-wrap {
width:120px;
}    
     .row .row {
margin:0px;
}
     div.post_item:after {
right:0.5rem;
}
     div.post_item:before {
right:1.3rem;
}
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
        #header, #header a {
padding: 50px 0px;
}
    #related-posts .pthumb {
            width: 100%;
            }
        .row .twelve {
            width: 100%;
            }
        #sidebar-wrapper {
            width: 300px;
            }
     #related-posts ul li {
width: 24.3%;
}
     .post-body img {
width:100%;
}
div.post_item:after {
right: 0.2rem;
}
div.post_item:before {
right: 1.1rem;
}
}

@media only screen and (max-width: 481px) and (min-width: 320px) {
.side1 {
           width: 100px;
}
#sidebar-wrap {
width: 72px;
}
.menu-button {
width: 2em;
height: 2em;
}
.leftfooter {
width:100%!important;
text-align:center!important;
}
.rightfooter {
width:100%!important;
text-align:center!important;
}
     #main-menu li {
font-size: 14px;
}
     .post_meta span.user {
float:left;
}
     .post-share-buttons {
display:none;
}
     #related-posts {
display:none;
}
     .goog-inline-block {
display:none;
}
     div.post-share-buttons.goog-inline-block {
display:none;
}
#post_grids .columns {
width: 100%;
}
#leftContent {
overflow: hidden;
}
}   

@media only screen and (max-width: 321px) {
.side1 {
           width: 100px;
}
#sidebar-wrap {
width: 72px;
}
.menu-button {
width: 2em;
height: 2em;
}
div#sidebar {
margin: -13px;
width: 119%;
}
#post_grids .columns {
width: 100%;
}
.header {
width: 350px;
}
     .post_item, #comments {
margin-right: -27px;
}
     #main-menu li    {
font-size: 14px;
}
     .post_meta span.user {
float:left;
}
     .post-share-buttons {
display:none;
}
     #related-posts {
display:none;
}
     .goog-inline-block {
display:none;
}
     div.post-share-buttons.goog-inline-block {
display:none;
}
.row .twelve {
width: 88%;
}
}   

*/

/* DIVERSOS ANALISAR 
.status-msg-body {
    position: relative !important;
}

.CSS_LIGHTBOX {
    z-index: 9999 !important;
}

span.yo p {
    padding: 10px 20px;
}

.fblike {
    height: 20px;
    max-width: 84px;
    padding: 8px 0 3px 13px;
}
    
.post-share-buttons {
    margin-left: 46px;
    margin-top: 20px;
}

.post_author {   
border-top: 1px solid #EDEDED;
padding: 20px;
}

.post_author h4 {
    font-size: 18px;
}

.post_author .author_avatar {
    float: left;
    height: 100px;
    width: 100px;
border-radius:50%;
-o-border-radius:50%;
-webkit-border-radius:50%;
-moz-border-radius:50%;
}

.post_author .author_avatar img {
    display: block;
border-radius:50%;
-o-border-radius:50%;
-webkit-border-radius:50%;
-moz-border-radius:50%;
}

.post_author .author_wrapper {
    margin-left: 120px;
}

.post_author h4 {
    margin-bottom: 5px;
}

.post_author p {
    margin: 0;
    padding: 0;
}

.small_thumb {
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius:50%;
       -o-border-radius:50%;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
    padding: 3px;
}

.heading-border {
    border-bottom: 2px solid #eee;
    color: #B71C1C;
    font-size: 22px;
    margin: 0 0 20px;
    padding: 10px 20px;   
}

*/

/*
.FollowByEmail {
    background-color: #55D5FF !important;
background-image:url("https://lh3.googleusercontent.com/-1QB3XFmdlYY/UcPyBWfyb4I/AAAAAAAAB74/ITrfhAVjwNI/s67/pattern.png");
    background-repeat: repeat-x;
    border: 5px solid #FFFFFF;
    color: #FFFFFF;
}

.FollowByEmail h2 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: medium none;
    border-radius: 0;
    color: #FFFFFF;
    margin-bottom: 15px;
    padding: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.FollowByEmail .newsletter_inner {
    padding: 25px 20px;
}

.FollowByEmail p {
    margin-bottom: 30px;
}

.FollowByEmail .letter_email {
    line-height: normal;
    margin-bottom: 10px;
    width: 100%;
}

.FollowByEmail .letter_submit {    background:url("https://lh6.googleusercontent.com/-VHd-MUXwJmQ/UcPx8zFDwjI/AAAAAAAAB5Y/qY_VtSSDbT8/s32/button.png") repeat-x scroll center bottom #666666;
    border: medium none;
    margin: 0;
}


.FollowByEmail .letter_submit:hover {
    opacity: 0.8;
}

*/

/*
.yo .post_item_inner {
background:#D25CD6;
color: #fff;
font-size:16px;
}

.lop {
        margin: 0 auto;
        width: 1320px;
max-width:100%;
}

.like_post {
display:none;
}

*/


/*
#left-sidebar-wrap {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 200px;
}

#sidebar-top{
    top: 0;
    left: 0;
    width: 250px;
    text-align: center;
    float:left;
        margin-bottom: 30px;
        margin-top: 20px;
}

#sidebar-top #logo {
    color: #666666;
    display: table-cell; /* for vertical alignment */
    font-family: &#39;Raleway&#39;;
    font-size: 14px;
    font-weight: bold;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 200px;
}

#sidebar-top #logo-text {
    display: block;
    padding: 30px 10px 0;
    text-align: left;
}

#sidebar-top #logo img{
    max-width: 100%;
}    

#sidebar-wrap {
    color: #A1A1A1;
    overflow-y: auto;
    padding: 45px 15px 10px 20px;
    text-align: right;
    width: 100%;
}

#sidebar-wrap.popup {
        overflow-y: visible;
}

#sidebar-wrap.fixed{
    position: fixed;
    top: 10px;
        height: 100%;
        z-index: 100;
}

#main-menu, #secondary-menu{
    font-family: Raleway;
}

#main-menu li{
    color: #808080;
    font-size: 14px;
    line-height:0;
    margin: 0 10px 4px 0px;
    text-transform: uppercase;
        position: relative;
       float:left;
}

#sidebar #main-menu .sub-menu li{
    line-height: 120%;
    font-size: 14px;
    margin-bottom: 0;
    text-transform: none;
        margin-top: 3px;
}

#secondary-menu li{
    line-height: 130%;
    font-size: 15px;
    margin-bottom: 0;
    overflow: hidden;
}

#secondary-menu{
    margin-top: 50px;
}

#copy {
    display: block;
    margin-top: 140px;
    font-size: 12px;
    line-height: 130%;
    color: #757171;
}

#sidebar-bg {
    background-color: #FFFFFF;
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 200px;
        display: block;
        height: 100%;
}
*/

/* =Social menu

#social-menu{
padding:15px;
}

#social-menu a {
    display: block;
    float: left;
    font-family: 'Font Awesome';
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #ccc;
    width: 20px;
    height: 20px;
}

#social-menu a, #social-menu a:visited{
    color: #6A6869;
}

#social-menu .icon-facebook-rounded:hover{
    color: #45619D;
}

#social-menu .icon-twitter:hover{
    color: #1AB2E8;
}

#social-menu .icon-youtube:hover{
    color: #C2302A;
}

#social-menu .icon-soundcloud-rounded:hover{
    color: #F96604;
}

#social-menu .icon-flickr-rounded:hover{
    color: #F3006F;
}

#social-menu .icon-google-rounded:hover{
    color: #201f1d;
}

#social-menu .icon-vimeo-rounded:hover{
    color: #229acc;
}

#social-menu .icon-linkedin-rounded:hover{
    color: #0274b3;
}

#social-menu .icon-pinterest-rounded:hover{
    color: #cb2027;
}

#social-menu .icon-picassa-rounded:hover{
    color: #9864ae;
}

#social-menu .icon-instagram:hover{
    color: #8c5d4d;
}

#social-menu .icon-tumblr-rounded:hover{
    color: #34506b;
}

#social-menu .icon-deviantart-rounded:hover{
    color: #000;
}

#social-menu .icon-dribbble-rounded:hover{
    color: #e24d85;
}

#social-menu .icon-reddit:hover{
    color: #000;
}

#social-menu .icon-behance-rounded:hover{
    color: #2d9ad2;
}

#social-menu .icon-feed-rounded:hover{
    color: #f68026;
}

.menuhead{
      width: 100%;
  background: rgba(48, 49, 48, 0.09);

  z-index: 999;
}
*/

/*
i.fa.fa-share {
width: 25px;
height: 25px;
/* background: black; */
text-align: center;
}

i.fa.fa-share:before {
vertical-align: -webkit-baseline-middle;
}
.separator a {
margin-left: 0!important;
margin-right: 0!important;
}

.footerbottom {
     background: #fff;
    width: 100%;
    margin-top: 20px;
    color: #fff;
    background: #222123;
}

.footerbottom  a{
  color: #fff;
}

.contentfooter {
    padding: 26px 0 5px;
    text-align: center;
}
.leftfooter {
float: left;
width: 50%;
}
.rightfooter {
float: right;
width: 50%;
text-align: right;
}
.leftfooter a {
margin: 15px;
}
div#sidebar1 {
text-align: center;
}
*/


/*
.share-story-container{display:block;min-height:41px;width:103%;position:relative;margin:0;padding:4% 0 0}
.share-story-container ul{list-style:none;text-align:center;margin:0;padding:0}
.share-story-container ul li{text-align:center;display:inline-block;margin:1 10px}
*/


/* Follow us 
.follow-us li {
  position: relative;
  display: inline-block;
  height: 32px;
  background: #3a3a3a;
  line-height: 32px;
  font-size: 14px;
  padding: 0 15px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  margin: 5px 5px 5px 0;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.follow-title {
  color: #ffffff;
  opacity: 1;
}
.follow-icon {
  font-size: 18px;
  color: #fff;
  opacity: 0;
margin-top: -32px;
}
.follow-us li:hover {
  background: #0093BF;
}
.follow-us li:hover .follow-title {
  opacity: 0;
}
.follow-us li:hover .follow-icon {
  opacity: 1;
}
*/

/*
.slide-down {
        left: 50%;
    bottom: 0;
    width: 54px;
    height: 54px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    border: 3px solid #fff;
    font-size: 22px;
    margin-right: -5%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

*/

/*
div.label-name > span:nth-child(n+2){display: none;}
.label-name {
    font-size: 14px;
    text-transform: uppercase;
    color: #888888;
    font-family: "Roboto", sans-serif;
    line-height: 1.428571429;
    margin-left: 20px;
}
*/


/*
#mariber-social {width:100%;text-align:center;margin:20px 0;    position: relative;}
#mariber-social ul {display:inline-block;padding:15px;margin:0 0 10px;
text-align:center;background:transparent;opacity:0.98;}
#mariber-social > ul > li {display:inline-block;text-align:center;
padding: 0 5px;margin: 0;}
#mariber-social > ul > li a {color:#FFF;font-size:34px;float:left;
width:34px;height:34px;transition:color 1s ease-out 0s;}
#mariber-social > ul > li a:hover {color:#e8eaef;}
*/

/*
.read-more-portfolio {
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 43px !important;
    color: #fff;
    position: absolute;
    right: 23px;
    bottom: 10px;
    border: 2px solid transparent;
    background-color: #B71C1C;
    border: 5px solid #fff;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
*/
/*
.post-body:hover .read-more-portfolio {
    color: #B71C1C;
    background-color: #fff;
    border-color: #B71C1C;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

*/
