@import url('https://fonts.googleapis.com/css?family=Special+Elite');

blockquote {
	font-weight: 100;
	font-size: 2rem;
	max-width: 34%;
	line-height: 1.4;
	position: relative;
	margin: 0 0 3px 10px;
	float: right;
	font-family: 'Special Elite', cursive;
	background: transparent;
	color: #3f3f5a;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: 1px dotted #9E9E9E;
	border-left: 1px dotted #9E9E9E;
}

cite {
	line-height: 3;
	text-align: left;
}
