#boxbio, .boxbio, #ana {
	width:68%;
	float:left;
	border: 0px solid #B71C1C;
	background:#F5F5F5;
}

.fotobio {
  	position:relative;
	width:20%;
	height:auto;
	max-width:20%;
	align: top;
	float: left !important;
	margin:-10px 15px 0 10px !important;
	/*
	-webkit-clip-path: inset(3px 3px 3px 3px);
  	clip-path: inset(3px 3px 3px 3px);
	*/
}

.textobio, .bio, nome {
	font-size:1em;
	padding:0px !important;
	color:#000;
}

.bio:before {
	border-bottom:2px solid #B71C1C;
	font-weight:bold;
	width:100%;
	display:inline;
	clear:right;
}

#ana .fotobio {content: url(https://bit.ly/3oKPAFb);}
#ana .bio:before {content: "Ana Adelaide P. Tavares ";}
#ana .bio:after {content: "Doutora em teoria da literatura, professora e escritora ";}


.compartilhe {
	width:28%;
	float:right;
	border: 0px solid #B71C1C;
	background:#f5f5f5;
	padding:0px;
}

.compartilhe:before {
	content:'COMPARTILHE';
	border-bottom: 1px solid #B71C1C;
	margin: 0 auto;
	text-align:center;
}
