/* BLOCKQUOTE */
blockquote, .ast {
	font: 100 20px / 1.4 'Oswald', cursive !important;
	max-width: 35%;
	float: right;
	padding: 15px 10px;
	position: relative !important;
  	background: #B71C1C;
	color: #FFFFFF;
	text-align: center;
	margin: 0px;
	z-index:1 !important;
}

blockquote::before, blockquote::after, ast::before {
  	color: #B71C1C;
  	background: #FFFFFF;
  	font-family:'FontAwesome';
  	padding: 0 4px 0 4px;
  	font-size:20px;
  	position: absolute !important;
  	display:block;
}

blockquote::before {
  	content:"\f10d";
   	top: -20px !important;
  	left: 10px !important;
}

.ast::before {
  	content:"\f069";
	top: -15px !important;
	font-size:17px !important;
  	left: 10px !important;
}

/* CITACAO */
#citacao  {
	margin: 0 5% !important;
	font-style:italic !important;
	font-size:0.95em !important;
}

#citacao hr {
	width: 30% !important;
	clear: both  !important;
}

/* FIGURE */
figure {
	display: block !important;
	max-width: 35% !important;
	height: auto !important;
	margin: 0;
	z-index:100;
	padding: 0px;
}

.dir {
	float: right !important;
	margin-left: 20px !important;
	margin-right: 0px !important;
}

.esq {
	float: left !important;
	margin-right: 20px !important;
	margin-left: 0px !important;
}

.centro {
	max-width: 90% !important;
	margin: 0 auto !important;
}

.meio {
	max-width: 45% !important;
	margin-top: 10px !important;
}

figcaption {
  	position:relative;
	color:#fff;
	background:#B71C1C; 
	padding:auto; 
	width:inherit;
	bottom:35px;
	height:25px;
	text-align:center;
	font-size:0.7em;
	font-weight: bold;
	margin-bottom:-10px !important;
}

.credito {
	background: rgba(0, 0, 0, 0.4)  !important;
	text-align:left !important;
	padding-left: 15px  !important;
	font-size:0.75em !important;
	font-weight: normal !important;
}

/* FOTO 2 COLUNAS */
#foto2 {
	display: flex; 
	width: 90%;
	margin: 0 auto;
	text-align:center;
}

#foto2::after {
	clear:both;
}

#foto2 .foto2int {
	width: 48%;
}

/* VIDEO LATERAL DIREITO */
.video {
	float:right;
	width:50%;
	max-height:200px;
	margin: 10px 0 5px 15px;
}

/* VIDEO LATERAL DIREITO SOMENTE SOM */
.disco {
	float: right;
	width: 40%;
	max-height: 250px;
	margin: 0 0 5px 15px;
}

/* MODIFICA LAYOUT DO POLLDADDY */

.css-answer-group, .css-answer-group.pds-answer-group, .pds-box, .pds-answer-group {
	padding: 0px 0px !important;
}

#pds-sharing, .pds-pd-link {
	display: none !important;
}

.css-box.pds-box, css-box {
	border: 0px !important;
}

.css-votebutton-outer.pds-votebutton-outer, .css-votebutton-outer {
	width: 100% !important;
	display: inline-block !important;
}

.css-vote-button.pds-vote-button, .css-vote-button {
	width: 10% !important;
	float: left !important;
}

.css-links.pds-links, .css-links {
	width: 70% !important;
	float: right !important;
}

.css-vote.pds-vote, .css-vote {
	height: 20px !important;
}

.css-answer.pds-answer, .css-answer, .pds-box.pds-answer, pds-box, .pds-answer  {
	border-bottom: 0px !important;
}

/* POSTAGENS DE ENTREVISTAS */
.p30 {
	padding: 0 30px 0 30px !important;
	font-style: italic !important;
}

.desloca {
	padding-left: 30px;
}


.pergunta {
  	padding-left: 20px;
	font-style: italic;
	font-weight: 500;
	font-color: #757575 !important;
}

.entrevista {
	margin: 10px 0px 15px 0px;
  	padding: 10px 20px 10px 20px;
	background-color: #FFF9C4;
}

/* FIXA O QUADRO DE ENTREVISTAS

#Image1 {
  	position: -webkit-sticky !important;
  	position: sticky !important;
  	top: 0 !important;
	z-index: 100 !important;
	max-width:100% !important;
}
 */

/* CAIXAS DO RODAPÉ DAS POSTAGENS */
fieldset {
  	display: block;
  	margin: 30px 0 40px 0 !important;
  	padding: 20px 20px;
  	border: 1px solid #EEEEEE !important;
	border-bottom: 0px solid transparent !important;
	border-radius: 5px !important;
  	background: transparent;
  	opacity: 1 !important;
  	transparency: 0 !important;
	z-index:100;
}

legend {
	font-size:1.5rem !important;
 	border: 0px solid #424242 !important;
	text-transform: uppercase !important;
	color: #333134 !important;
	padding: 3px 10px 3px 10px !important;
    	border-radius: 2px !important;
	font-weight: bold !important;
	width: auto !important;
	background: #ffffff !important;
	display:block !important;
}


/* CAIXA DE CITAÇÕES
blockquote {
	font: 100 20px / 1.4 'Oswald', cursive !important;
	max-width: 34%;
	margin: 0 0 1px 5px;
	padding: 15px 10px;
	float: right;
	position: relative !important;
  	background: #B71C1C;
	color: #FFFFFF;
	text-align: center;	
}

blockquote::before, blockquote::after {
  	color: #B71C1C;
  	background: #FFFFFF;
  	font-family:'FontAwesome';
  	padding: 0 4px 0 4px;
  	font-size:20px;
  	position: absolute !important;
  	display:block;
}

blockquote::before {
  	content:"\f10d";
   	top: -20px !important;
  	left: 10px !important;
}

blockquote::after {
  	content:"\f10e";
  	bottom: -20px !important;
  	right: 10px !important;
} 

*/
/* CAIXA DO FANCYBOX */
.fancybox-slide--iframe .fancybox-content {
    	width  : 800px;
    	height : 600px;
    	max-width  : 80%;
    	max-height : 80%;
    	margin: 0;
}


/* MOLDURA DE COMPARTILHAR
.compartilhe {
	border: 1px solid #cccccc;
	padding: 1px 5px 1px 5px;
	float: right;
	font-size: 10px;
	color: #757575;
	width: auto;
	text-align: center;
	margin-top: -25px;
}
*/

.quadro {
	display: inline-block;
	background-color: #E0E0E0;
	padding: 10px;
	margin-bottom: 40px;
	width:100%;
	}

.fotopeq {
	height:auto;
	width:20%;
	max-width:20%;
	align: top;
	float: left;
	margin: 10px 20px 5px 0;
	}

.textopeq, .textoita {
	font-size: 14px !important;
	line-height: 18px !important;
	margin-top: 8px;
	}

.textoita {
	font-style: italic;
	color: #616161;
	text-align: right;
	}

.filmposter {
	width:15%;
	height:auto;
	max-width:15%;
	align: top;
	float: right !important;
	margin: 0 auto auto 20px !important;
	}

.bio { 
	margin-top:10px;
	font-size: 14px;
	}

.fa fa-camera {
	padding: 0 5px !important;
	}

*
	{
	box-sizing: border-box;
	}

/*
*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr 
ul[class],
ol[class],
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

embed,
iframe,
img,
object,
video {
  display: block;
  max-width: 100%;
}

[hidden] {
  	display: none !important;
	opacity: 0;
  	visibility: hidden;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
*/
